<div class="gru-counting-syllables-container">
  <div class="counting-syllables-text-section">
      {{#each baseAnswers as | answer  index |}}
          <p class="counting-syllables-item counting-syllables-edit-{{index}}">{{answer.text}}</p>
      {{/each}}
  </div>
</div>
