<div class="gru-identify-vowel-container">
  <div class="identify-vowel-text-section">
      {{#each baseAnswers as | answer  index |}}
          <p class="identify-vowel-item identify-vowel-edit-{{index}}">{{answer.text}}</p>
      {{/each}}
  </div>
</div>
