<div class="gru-choose-one-container">
  {{reports/assessment/questions/gru-multiple-choice
    question=question
    showCorrect=showCorrect
    readOnly=readOnly
    isChooseOne = true
    userAnswer=userAnswer
  }}
</div>
