<div class="gru-baseword-container">
  <div class="baseword-text-section">
      {{#each baseAnswers as | answer  index |}}
          <p class="base-word-edit-{{index}}">{{answer.text}}</p>
      {{/each}}
  </div>
</div>
