<div class="gru-syllables-division-container">
  <div class="syllables-division-text-section">
      {{#each baseAnswers as | answer  index |}}
          <p class="syllables-division-item syllables-division-edit-{{index}}">{{answer.text}}</p>
      {{/each}}
  </div>
</div>
