<div class="gru-vowel-teams-container">
  <div class="vowel-teams-text-section">
      {{#each baseAnswers as | answer  index |}}
          <p class="vowel-team-item vowel-teams-edit-{{index}}">{{answer.text}}</p>
      {{/each}}
  </div>
</div>
