<div class="gru-sorting-container">
    <div class="sorting-panel">
      <div class="group-section">
        <h5>{{question.softText}}</h5>
          <ul class="sorting-list-blk">
              {{#each answerDetails as |answer answerIndex|}}
                {{#if (eq answer.type 'soft')}}
                    <li>{{answer.text}}</li>
                {{/if}}
              {{/each}}
          </ul>
      </div>
      <div class="group-section">
        <h5>{{question.hardText}}</h5>
          <ul class="sorting-list-blk">
            {{#each answerDetails as |answer answerIndex|}}
              {{#if (eq answer.type 'hard')}}
                  <li>{{answer.text}}</li>
              {{/if}}
            {{/each}}
          </ul>
      </div>
    </div>
</div>
