<div class="gru-comprehension-new-question-container">
  <div class="add-new-comprehension">
      <h3>Create New Question</h3>
      <div class="question-types text-center">
        {{#each questionTypes as |questionType|}}
            <div class="panel panel-default {{if (eq questionType 'T/F') 'question-type-T_F' (concat 'question-type-' questionType)}} {{set-if-equal 'active' questionType selectedType}}" {{action 'selectType' questionType}}>
                <div class="panel-body">
                    <i class="question-type-icon"></i>
                </div>
                <div class="panel-footer">
                  {{t (concat 'common.question-type.' questionType) }}
                </div>
            </div>
        {{/each}}
      </div>
  </div>
</div>
