<div class="controller content resources edit">
  {{content/resources/gru-resource-edit resource=resource collection=collection  primaryLanguage=primaryLanguage isEditing=isEditing tempResource=tempResource centurySkills=centurySkills isLibraryContent=isLibraryContent hasCollaborator=hasCollaborator}}
  <aside class="hidden-sm">
    <div>
      <h4>{{t "common.best-practices"}}</h4>
      {{{t "content.resources.edit.best-practices"}}}
    </div>
  </aside>

</div>
