<div class="gru-serp-multi-choice-container">
  <div class="multu-choice-panel">
    {{content/questions/answers/gru-multiple-choice
      answers=answers
      editMode=editMode
      maxAnswers = 10
      disableCorrect = true
    }}
  </div>
</div>
