<div class="iframe-contaier">
  <form name="ltiInitiateLoginForm" id="ltiInitiateLoginForm" method="POST"  target="output_frame" encType="application/x-www-form-urlencoded">
    <input type="hidden" id="iss" name="iss">
    <input type="hidden" id="tlink" name="target_link_uri">
    <input type="hidden" id="login_hint" name="login_hint">
    <input type="hidden" id="lti_message_hint" name="lti_message_hint">
    <input type="hidden" id="client_id" name="client_id">
    <input type="hidden" id="lti_deployment_id" name="lti_deployment_id">
  </form>
  <iframe name="output_frame" src="" id="output_frame"></iframe>
</div>
