<div class="controller content questions edit">
  {{content/questions/gru-questions-edit question=question compQuestionId=compQuestionId isCollection=isCollection  createQuestiontype=createQuestiontype collection=collection isEditing=true isBuilderEditing=true isCreateQuestion = isCreateQuestion}}
</div>
