.gru-content-suggestion {
  width: 320px;
  height: max-content;
  object-fit: contain;
  border-radius: 4px;
  background-color: $white;
  z-index: 1111;
  position: fixed;
  box-shadow: 0 0 6px 1px $table-box-shadow-07,
    0 2px 4px 0 $navbar-default-toggle-icon-bar-bg;
  margin: 0 auto;
  right: 10px;
  border-radius: 10px;

  .modal-header {
    justify-content: center;
    height: 50px;
    align-items: center;
    background-color: $orange-153;
    display: flex;
    padding: 0;
    border-radius: 10px 10px 0 0;

    .suggestion-title {
      font-size: 20px;
      font-style: italic;
      line-height: 0.83;
      text-align: center;
      color: $white;
      text-transform: uppercase;
    }
  }

  .modal-body {
    border: none;
    display: flex;
    margin-right: 1px;
    padding: 0;
    flex-direction: column;

    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 10px;

      .suggestion-img {
        background-repeat: no-repeat;
        width: 150px;
        height: 150px;
        display: block;
        background-size: contain;
      }

      &.show-mastery {
        .suggestion-img {
          background-image: url("gooru/mastery-pose.png");
        }
      }

      &.show-suggestion {
        .suggestion-img {
          background-image: url("gooru/reroute-suggestion.png");
        }
      }
    }

    .action {
      display: grid;
      grid-template-columns: auto auto;
      height: 40px;
      justify-content: flex-end;
      padding: 0 10px;

      .accept {
        padding: 5px;
        width: 100px;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: -0.24px;
        text-align: right;
        color: $orage-f3f;
        cursor: pointer;
        height: 40px;
        position: relative;
      }

      .ignore {
        text-align: center;
        padding: 5px;
        width: 100px;
        opacity: 0.5;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: -0.24px;
        text-align: right;
        color: $dark-400;
        cursor: pointer;
        height: 40px;
        position: relative;
      }
    }

    .suggestion-container {
      display: grid;
      grid-template-columns: max-content 1fr;
      border-left: 0;
      border-right: 0;
      border: 1px solid $breadcrumb-color;

      .thumbnail-img {
        width: 71px;
        height: 69px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .suggestion-info-panel {
        display: grid;
        grid-template-columns: 1fr;

        .suggestion-info {
          display: grid;
          align-items: center;
          margin: auto;

          .title {
            font-size: 15px;
            font-weight: bold;
            color: $black-94b;
          }
        }

        // .icons {
        //   display: flex;
        //   align-items: center;
        //   justify-content: center;
        //   position: relative;
        //
        //   .suggestion {
        //     position: absolute;
        //     right: 5px;
        //     top: 10px;
        //     background: $table-bg;
        //
        //     i {
        //       color: $tan-hide;
        //       background: $white;
        //       width: 20px;
        //       height: 15px;
        //       border-radius: 50px;
        //     }
        //   }
        //
        //   i {
        //     &.collection {
        //       width: 30px;
        //       height: 30px;
        //       background-size: 100%;
        //       background-repeat: no-repeat;
        //       background-image: url("/assets/gooru/images/collection-orange.svg");
        //     }
        //     &.assessment {
        //       width: 30px;
        //       height: 30px;
        //       background-size: 100%;
        //       background-repeat: no-repeat;
        //       background-image: url("/assets/gooru/images/assessment-orange.svg");
        //     }
        //   }
        // }
      }
    }

    .suggestion-details {
      text-align: center;

      .title {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        padding: 10px 0;
        color: $orage-f3f;
        padding-bottom: 0;
      }

      .description {
        font-size: 13px;
        text-align: center;
        color: $dark-700;
        padding: 10px;
        line-height: 1.5;

        span {
          font-weight: bold;
          color: $orange-153;
        }
      }

      .taxonomy {
        .gru-taxonomy-tag-list {
          .gru-taxonomy-tag {
            background-color: $dark-400;
            border-radius: 50px;

            .tag-label {
              color: $white;
              font-size: 12px;
            }

            .tag-caption {
              display: none;
            }
          }
        }
      }
    }
  }
}
