<div class="controller content external-assessments assessments edit">
  {{content/external-assessments/gru-external-assessment-edit collection=collection allowBackToCourse=allowBackToCourse course=course isExternalAssessment=isExternalAssessment isEditing=isEditing tempCollection=tempCollection editingContent=editingContent centurySkills=centurySkills isLibraryContent=isLibraryContent isPreviewReferrer=isPreviewReferrer}}
  <aside class="hidden-sm">
    <div>
      <h4>{{t "common.best-practices"}}</h4>
      {{{t "content.assessments.edit.best-practices"}}}
    </div>
  </aside>
</div>
