<div class="recently-launched-cards">
    <div class="recent-cards-section">
            <div class="card-layout">
                <div class="card-content">
                    <div class="card-header">
                        <span class="header-title">{{program.title}}</span>
                    </div>
                    <div class="card-description">
                        <span class="description">{{program.description}}</span>
                    </div>
                    <div class="explore-button">
                        <button class="preview-btn" {{action 'onClickExplore' program}}>{{t 'common.explore'}}</button>
                    </div>
                </div>
            </div>
    </div>
</div>