<div class="gru-serp-multi-choice-container">
  {{player/questions/gru-multiple-choice
    userAnswer=userAnswer
    instructionsActionTextKey=instructionsActionTextKey
    question=question
    baseQuestion=baseQuestion
    isChooseOne = true
    readOnly = readOnly
  }}
</div>
