<!-- <p class="instructions">
  {{t "gru-multiple-choice.instructions" action=(t instructionsActionTextKey)}}
</p> -->
<div class="answer-choices">
    <div id="serp-base-word-container"></div>
</div>
