<div class="completed" data-toggle="tooltip" data-placement="right" title="{{competency.completed}} Mastered"></div>
<div class="in-progress" data-toggle="tooltip" data-placement="right" title="{{competency.inprogress}} In Progress"></div>
<div class="not-started" data-toggle="tooltip" data-placement="right" title="{{competency.notstarted}} Not Started"></div>
