<div class="reroute-line-chart-container">
    <div class="reroute-line-chart-panel">
      <div class="action-buttons">
        <span class="material-icons" {{action "onToggleZoom"}}>{{unless isZoomIn 'zoom_out_map' 'zoom_in_map'}}</span>
      </div>
        <div class="reroute-line-chart-body">
          <div class="reroute-chart"></div>

        </div>
    </div>
</div>
