<div class="controller content external-collections collections edit">
  {{content/external-collections/gru-external-collection-edit collection=collection allowBackToCourse=allowBackToCourse course=course isEditing=isEditing tempCollection=tempCollection editingContent=editingContent centurySkills=centurySkills isLibraryContent=isLibraryContent isPreviewReferrer=isPreviewReferrer}}
  <aside class="hidden-sm">
    <div>
      <h4>{{t "common.best-practices"}}</h4>
      {{{t "content.collections.edit.best-practices"}}}
    </div>
  </aside>
</div>
